

<% if logged_in? %>
<%= content_tag :li,  class: "list-group-item " + get_background_color_for_partial(club),
                      id: club.hash_id,
                      style: "height: 50px" do %>
  <div class="row">
    <div class="col-sm-10 custom-flex-center">
      <div class="col-sm-4" style="padding: 0px">
        <h6 class="no-margin" style="width: 100%"><%= link_to club.name, club %></h6>
      </div>
      <div class="col-sm-6">
        <h6 class="text-muted no-margin float-right" style="width: 100%"><%= club.motto %></h6>
      </div>

    </div>

    <div class="col-sm-2 custom-flex-center custom-flex-right">
      <div class="options" >

        <%= render 'shared/admin_buttons', model_name: 'club', object: club,
                                           edit_url: edit_club_path(club),
                                           destroy_url: club_path(club) %>

      </div>
    </div>


<% end %>

<% end %>
