<% color = "" %>
<% if !club.approved && !club.rejected %> 
  <% color = "grey lighten-3" %>
<% elsif club.rejected %>
  <% color = "red lighten-4" %>
<% end %>

<% if logged_in? %>
<%= content_tag :li,  class: "list-group-item " + color,
                      id: club.hash_id,
                      style: "height: 50px" do %>
  <div class="row">
    <div class="col-sm-10 custom-flex-center">
      <div class="col-sm-7" style="padding: 0px">
        <h6 class="no-margin" style="width: 100%"><%= link_to club.name, club %></h6>
      </div>
      <div class="col-sm-3">
        <h6 class="text-muted no-margin"><%= pluralize(club.club_members.accepted_members.count, "member")%></h6>
      </div>

    </div>
    
    <div class="col-sm-2 custom-flex-center custom-flex-right">
      <div class="options" >

        <%= render 'shared/admin_buttons', model_name: 'club', object: club,
                                           edit_url: edit_club_path(club),
                                           destroy_url: club_path(club) %>
    
      </div>
    </div>
    
    
<% end %>

<% end %>