<% if logged_in? %>
<div class="card card-body" id="user-list">
  <span class="text-muted">
    President: <%= render 'users/colored_name_link', user: @club.president %>
  </span>
  <% if @club.club_members.count > 1 && (current_user == @club.president || current_user.can_do(:admin)) %>
    <hr>
    <h5 class="card-title">Members:</h5>
    <ul style="margin-bottom: 0px;margin-top: 5px">
      <% @club.club_members.each do |member| %>
        <% user = User.find(member.user_id) %>
        <% unless user == @club.president %>
          <%= content_tag :li, (render "users/colored_name_link", user: user) %>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <% if @club.president == current_user %>
  <% elsif !@club.club_members.find_by(user_id: current_user.id).nil? %>
    <div class="float-left">
      You are on this club's email list! <br> <br>
      <%= link_to "Leave mailing list", unapply_club_path(@club), method: :post, class: "btn btn-sm btn-primary float-left" %>
    </div>
  <% else %>
    <div class="float-left">
      <%= link_to "Join mailing list", apply_club_path(@club), method: :post, class: "btn btn-sm btn-primary float-left" %>
    </div>
  <% end %>
</div>
<% end %>
