<% provide(:title, "Club") %>
<div class="row">
  <div class="col-md-9">
    <div class="card">
      <div class="card-header success-color white-text">
        <h4 class="card-title" style="text-align: center;">
          New Club
        </h4>
      </div>
      <div class="card-body">
        <%= render 'clubs/clubparams', url: clubs_url, submit_text: "Create Club" %>
      </div>
    </div>
  </div>
  <div class="col-md-3" style="padding-left: 0px">
    <%= render 'shared/rules.html.erb' %>
  </div>
</div>
