<% provide(:title, "Announcements") %>
<%= will_paginate @announcements %>
<div class="card">
  <div class="card-header bg-white">
    <h2 class="card-title float-left">Announcements</h2>
    <% if logged_in? && current_user.can_do(:moderate)%>
      <%= link_to "New", new_announcement_path, class: "float-right btn btn-primary" %>
    <% end %>
  </div>
  <ul class="list-group list-group-flush">
    <%= render @announcements %>
  </ul>

</div>

<%= will_paginate @announcements %>
  