<% provide(:title, "New Announcement") %>
<div class="row">
  <div class="col-lg-9">
    <div class="card">
      <div class="card-header blue darken-3 white-text">
        <h4 class="card-title" style="text-align: center;">
          New Announcement
        </h4>
      </div>
      <div class="card-body">
        <%= render 'announcements/announcementparams', url: announcements_url, submit_text: "Post" %>
      </div>
    </div>
  </div>
  <div class="col-md-3" style="padding-left: 0px">
    <%= render 'shared/rules.html.erb' %>
  </div>
</div>
