<% provide(:title, "New Announcement") %>
<div class="row">
  <div class="col-lg-9">
    <div class="card">
      <div class="card-header info-color white-text">
        <h4 class="card-title" style="text-align: center;">
          New Announcement
        </h4>
      </div>
      <div class="card-body">
        <%= render 'announcements/announcementparams', url: announcements_url, submit_text: "Post" %>
      </div>
    </div>
  </div>
  <div class="col-md-3" style="padding-left: 0px">
    <div class="card white-text">
      <div class="card-header info-color" style="border: none; padding-top: 15px; padding-bottom: 6px;">
        <h4 class="card-title" style="text-align: center;">
          <i class="fas fa-info-circle"></i>
        </h4>
      </div>
      <div class="card-body info-color" style="padding-top: 0px; font-size: 14px; font-family: Lato">
          <li>Doloribus porro ex. Iusto accusantium ratione minus nihil rerum est. Qui perspiciatis nihil. Fugiat suscipit nam provident dolorem rerum velit. Et cumque non.</li>
          <li>Sed consectetur ex eaque. Autem deserunt quibusdam molestias sit cumque aut. Eligendi reiciendis corporis harum.</li>
      </div>
    </div>
    </div>
  </div>
</div>
