<% provide(:title, "New Announcement") %>
<div class="row">
  <div class="col-lg-9">
    <div class="card">
      <div class="card-header info-color white-text">
        <h4 class="card-title" style="text-align: center;">
          New Announcement
        </h4>
      </div>
      <div class="card-body">
        <%= render 'announcements/announcementparams', url: announcements_url, submit_text: "Post" %>
      </div>
    </div>
  </div>
  <div class="col-md-3" style="padding-left: 0px">
    <div class="card card-body">
      <h5>Submission Guidelines</h5>
      <ul>
        <li>one</li>
        <li>two</li> 
        
      </ul>
    </div>
  </div>
</div>
