<h2>Punahou Student Hub</h2>

<p>Welcome, <%= @user.name%>!</p>

<p> 
Click on <%= link_to "this link", edit_account_activation_url(@user.activation_token, 
              email: @user.email) %> to activate your account!
</p>

<p>
  Thanks!
  <br>
  - The Punahou Student Hub Team
</p>