<% provide(:title, @task.name) %>
<div class="card">
  <div class="card-header blue darken-3 white-text">
    <div class="float-left">
      <h2 class="card-title"><%= @task.name %></h2>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm">
        <div class="card card-body">
          <h5 class="card-title">Assignment Details</h5>
          <ul class= "list-group list-group-flush">
              <li class="list-group-item">
                Duedate:
                <% if @task.duedate %>
                  <%= @task.duedate %>
                <% else %>
                  input here
                <% end %>
              </li>
              <li class="list-group-item">
                Time estimate:
                <% if current_user.taskees.find_by(task_id: @task.id).time_estimate %>
                  <%= current_user.taskees.find_by(task_id: @task.id).time_estimate / 60 %>
                <% else %>
                  input here
                <% end %>
                minutes
            </li>
            <li class="list-group-item">
              Status:
              <% if current_user.taskees.find_by(task_id: @task.id).completed %>
                Complete!
              <% else %>
                In progress
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm">
        <div class="card card-body">
          <% unless @task.description.blank? %>
            <%= content_tag :p, markdown(@task.description) %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="card card-body">
          <h5 class="card-title">Somethingsomethingscheduling</h5>
          aAaAaAaAAaAaAAaaAAaAAaaaAaaaaAAAaAAAaaaAAAaaaaAAaaaAAAAaaaAAAAaaAAAaaaaAAaaaAAAAAaAAAAAaAAAAAAAaaAaaaAaa
        </div>
      </div>
    </div>
  </div>
</div>
