

<li>
  <%= render "users/colored_name_link", user: user %>
  <% if current_user.admin? && !current_user?(user) %>
   | <%= link_to "delete", user, method: :delete, class: "text-danger",
                                  data: {confirm: "Are you sure you want to do this?"} %>
  <% end %>
  

</li>
