<% provide :title, "Account Settings" %>
<div class="card">
  <div class="card-header blue darken-3 white-text">
    <h4 class="card-title">
      Settings
  </div>
  <div class="card-body">
    <%= render "users/params", url: nil, submit_text: "Save Edits" %>
  </div>
</div>
