<% provide(:title, @user.name) %>

<div class="row">
  <div class="col-md-4">
    <h3 style="display: inline;"><%= render 'users/colored_name', user: @user %></h3> 
    <%= render 'users/badges', user: @user %>
    <h3>
      <small class="text-muted"><%= @user.email %></small>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <% if @user.biography %>
      <div class="card card-body">
        <%= markdown(@user.biography) %>
      </div>
    <% end %>
  </div>
  
</div>


