<% provide(:title, @user.name) %>

<div class="row">
  <div class="col-md-5">
    <h2>
      <%= @user.name %>
      <br>
      <small class="text-muted"><%= @user.email %></small>
    </h2>

  </div>
  <div class="col-md-7">
    <% if @user.announcements.any? %>

      <%= render 'shared/model_byuser', path: announcements_path, 
                                        display_name: 'Announcements', 
                                        variable: @user.announcements
                                                  .paginate(page: params[:announcement_page], per_page: 5),
                                        user: @user,
                                        param_name: :announcement_page %>
    <% end %>
  </div>
</div>


