<!-- 
  Parameters:
  - display_name
  - path
  - count
  - variable
 -->
<div class="card">
  <h2 class="card-header bg-white">
    <%= link_to display_name, path, class: 'text-dark' %>
  </h2>
  <ul class="list-group list-group-flush">
    <%= render variable.take(5) %>
  </ul>
  <div class="card-body see-more-section">
    <%= link_to 'See more...', path, class: 'text-secondary' %>
  </div>
</div>