<!--
  Parameters:
  - display_name
  - path
  - count
  - variable
 -->
<div class="card">
  <div class="card-header blue darken-3 white-text">
    <h4 class="card-title">
      <%= content_tag(:a, display_name, href: path, class: "text-white")%>
      <% if display_name == 'Announcements' %>
        <i class="fas fa-bullhorn float-right"></i>
      <% elsif display_name.include?('Blog') %>
        <i class="fas fa-pencil-alt float-right"></i>
      <% end %>
    </h4>
  </div>
  <ul class="list-group list-group-flush">
    <% unless variable.nil? %>
      <%= render variable.take(5) %>
    <% end %>
  </ul>
  <div class="card-body see-more-section">
    <%= link_to 'See more...', path, class: 'text-primary' %>
  </div>
</div>
