<div class="card">
  <div class="card-header info-color" style="border: none; padding-top: 10px; padding-bottom: 10px;">
    <h4 class="card-title white-text" style="text-align: center;">
      <i class="fas fa-info-circle"></i>
    </h4>
  </div>
  <div class="card-body" style="font-size: 16px;">
    <ul style="padding-left: 15px">
      <li>Posts are limited to Punahou-affiliated information and events.</li>
      <li>Posts may not solicit monetary donations unless approved by the advancement office.</li>
      <li>Posts must be in good taste and may not contain anything offensive or derogatory.</li>         
    </ul>
  </div>
</div>