<div class="card white-text">
  <div class="card-header" style="border: none; padding-top: 15px; padding-bottom: 7px; background-color: #26afaf;">
    <h4 class="card-title" style="text-align: center;">
      <i class="fas fa-info-circle"></i>
    </h4>
  </div>
  <div class="card-body" style="padding-top: 0px; font-size: 14px; font-family: Open Sans; background-color: #26afaf;">
    Posts...
    <ul style="padding-left: 15px;">
    <li>are limited to Punahou-affiliated information and events.</li>
    <li>may not solicit monetary donations unless approved by the advancement office.</li>
    <li>must be in good taste and may not contain anything offensive or derogatory.</li>
    <li>must not contain false or misleading information</li>
    <li>are monitored by the Deans.</li>
    </ul>
    <em>Violations of these rules will result in disciplinary consequences.</em>
  </div>
</div>
