<div class="card white-text">
  <div class="card-header" style="border: none; padding-top: 15px; padding-bottom: 7px; background-color: #26afaf;">
    <h4 class="card-title" style="text-align: center;">
      <i class="fas fa-info-circle"></i>
    </h4>
  </div>
  <div class="card-body" style="padding-top: 0px; font-size: 14px; font-family: Open Sans; background-color: #26afaf;">
    <li>Posts are limited to Punahou-affiliated information and events.</li>
    <li>Posts may not solicit monetary donations unless approved by the advancement office.</li>
    <li>Posts must be in good taste and may not contain anything offensive or derogatory.</li>
  </div>
</div>
