<% provide(:title, "Events") %>
<% if logged_in? %>
  <div class="card">
    <div class="card-header blue darken-3 white-text">
      <h4 class="card-title float-left">
        Events
      </h4>

      <div class="float-right">
        <% if logged_in? %>
          <%= link_to ("New Event").html_safe, new_event_path, 
            class: "btn btn-sm btn-primary grey float-right"%>
        <% end %>
      </div>
    </div>
    <div class="card-body" style="padding: 0px;">
      <ul class="list-group list-group-flush">
        <% if current_user.can_do(:approve) %>
          <%= render @events %>
        <% else %>
          <%= render @events.approved_events %>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
  <% flash.now[:warning] = "Log in to view events" %>
<% end %>
