<% provide(:title, "Events") %>
<% if logged_in? %>
  <div class="card">
    <div class="card-header blue darken-3 white-text">
      <h3 class="card-title">
        Events

        <%= link_to ("<i class='fas fa-plus fa-lg text-primary';'></i>").html_safe, new_event_path, class: "btn btn-sm btn-white float-right card-header-button"%>
      </h3>
    </div>
    <div class="card-body" style="padding: 0px;">
      <ul class="list-group list-group-flush">
        <% if current_user.can_do(:approve) %>
          <%= render @events %>
        <% else %>
          <%= render @events.approved_events %>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
  <% flash.now[:warning] = "Log in to view events" %>
<% end %>

<script>

  function approve_event(id) {
    $.ajax({
      type: 'POST',
      url: '/event/approve',
      data: { id: id }, 
      success: function(data, textStatus, jqXHR) {
        update_event(id)
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log("banans")
        console.log(errorThrown)
      }
    });
  }

  function rsvp(id, status) {
    console.log(id)
    console.log('/event/' + (status? 'rsvp':'unrsvp'))
    $.ajax({
      type: 'POST',
      url: '/event/' + (status? 'rsvp':'unrsvp'),
      data: { id: id }, 
      success: function(data, textStatus, jqXHR) {
        update_event(id)
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log("banans")
        console.log(errorThrown)
      }
    });
  }

  function update_event(id) {
    $.ajax({
      type: 'GET',
      url: '/event/get_partial',
      data: { id: id }, 
      success: function(data, textStatus, jqXHR) {
        $('#' + id).after(data)
        $('#' + id).remove()

      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log("banans")
        console.log(errorThrown)
      }
    })
  }

</script>