<% provide(:title, "Events") %>
<%= will_paginate @events %>
<div class="card">
  <div class="card-body">
    <h2 style="margin-bottom: 0px" class="float-left">Events</h2>
    <% if logged_in?%>
      <%= link_to "New", new_event_path, class: "float-right btn btn-primary" %>
    <% end %>
  </div>
  <ul class="list-group list-group-flush">
    <%= render @events %>
  </ul>

</div>

<%= will_paginate @events %>
