<% provide(:title, "Events") %>
<% if logged_in? %>
  <div class="card">
    <div class="card-header bg-white">
      <h2 class="float-left card-title">Events</h2>
      <% if logged_in?%>
        <%= link_to "New", new_event_path, class: "float-right btn btn-primary" %>
      <% end %>
    </div>
    <ul class="list-group list-group-flush">
      <% if current_user.can_do(:approve) %>
        <%= render @events %>
      <% else %>
        <%= render @events.approved_events %>
      <% end %>
    </ul>
  </div>
<% else %>
  <% flash.now[:warning] = "Log in to view events" %>
<% end %>
