<% provide(:title, "New Event") %>
<h2>New Event</h2>
<% if current_user.can_do :moderate %>
  <%= render 'layouts/eventsparams', url: events_url, submit_text: "Submit", clubs: current_user.leaderships %>
<% else %>
  <%= render 'layouts/eventsparams', url: events_url, submit_text: "Send to purgatory",
  clubs: current_user.leaderships %>
<% end %>
