<% provide(:title, "New Event") %>
<div class="row">
  <div class="col-lg-9">
    <div class="card">
      <div class="card-header blue darken-3 white-text">
        <h4 class="card-title" style="text-align: center;">
          New Event
        </h4>
      </div>
      <div class="card-body">
        <% if current_user.can_do :moderate %>
          <%= render 'layouts/eventsparams', url: events_url, submit_text: "Post",
          clubs: current_user.leaderships %>
        <% else %>
          <%= render 'layouts/eventsparams', url: events_url, submit_text: "Submit for Approval",
          clubs: current_user.leaderships %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3" style="padding-left: 0px">
    <%= render 'shared/rules.html.erb' %>
  </div>
</div>
