<% provide(:title, "New Event") %>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header success-color white-text">
        <h3 class="card-title" style="text-align: center;">
          New Event
        </h3>
      </div>
      <div class="card-body">
        <% if current_user.can_do :moderate %>
          <%= render 'layouts/eventsparams', url: events_url, submit_text: "Post", 
          clubs: current_user.leaderships %>
        <% else %>
          <%= render 'layouts/eventsparams', url: events_url, submit_text: "Send to purgatory", 
          clubs: current_user.leaderships %>
        <% end %>
      </div>
    </div>
  </div>
</div>

