<% provide(:title, "New Event") %>
<h2>New Event</h2>
<% if current_user.can_do :moderate %>
  <%= render 'eventsparams', url: events_url, submit_text: "Submit" %>
<% else %>
  <%= render 'eventsparams', url: events_url, submit_text: "Send to purgatory" %>
<% end %>
