<% provide(:title, "Contact") %>

<div class="card">
  <div class="card-header blue darken-3 white-text">
    <h3 class="card-title">
      Contact Us
    </h3>
  </div>
  <div class="card-body">
    <p>The Punahou Student Hub is a student-run website to inform students about what's happening on campus.</p>

    <p>We'd love for you to get in touch with us, especially if you have any cool ideas we haven't thought about yet. Feel free to email any of the <%= link_to "Administrators", staff_path %> at any time. You can check out <%= link_to "our blog", blog_index_path %> too, or submit a <%= link_to "Feedback Form.", feedback_path %></p>

    <p style="margin-bottom: 0px;">If you're interested in how everything works, all of our code is on <%= link_to "GitHub.", "https://github.com/PunStudentHub/StudentHub" %></p> 
  </div>
</div>
