<% provide(:title, "Contact") %>
<div class="col-sm-9">
  <h2>
    Contact Us
  </h2>
  <br>

  <p>The Punahou Student Hub is a student-run web portal to provide a way for students to get informed about what's happening on campus.</p>

  <p>We'd love for you to get in touch with us, especially if you have any cool ideas we haven't thought about yet. Feel free to email any of the <%= link_to "Administrators", staff_path %> at any time. You can check out <%= link_to "our blog", blog_index_path %> too.</p>

  <p>If you're interested in how everything works, all of our code is on <%= link_to "GitHub.", "https://github.com/PunStudentHub/StudentHub" %> If you're interested in joining the team, we'd love to have you!</p> 
</div>

