<% provide(:title, "Contact") %>
<h2>
  Contact Us
</h2>
<br>

Hi! We'd love for you to get in touch with us.

Team members:
<ul>
  <li>Contact email address will go here eventually</li>
</ul>

If you're interested in how everything works, all of our code is on <%= link_to "GitHub", "https://github.com/PunStudentHub/StudentHub" %>
