<% provide(:title, "Contact") %>

<div class="card">
  <div class="card-body">
    <h4 class="lato-title">
      Contact Us
    </h4>
    <hr>
    <p>The Punahou Student Hub is a student-run website to inform the Punahou community about what's happening on campus.</p>

    <p>We'd love for you to get in touch with us, especially if you have any cool ideas we haven't thought about yet. Feel free to email any of the <%= link_to "Administrators", staff_path %> at any time. You can check out <%= link_to "our blog", blog_index_path %> too, or submit a <%= link_to "Feedback Form.", feedback_path %></p>

    <p style="margin-bottom: 0px;">If you're interested in how everything works, all of our code is on <%= link_to "GitHub.", "https://github.com/PunStudentHub/StudentHub" %></p>
  </div>
</div>
