<% provide(:title, "Feedback") %>

<div class="container">
  <div class="row">
    <div class="col lg-12">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeyJLKaVlOyZyFLnd97V_vqvQM4rpo-hGFTL8OB1b_W_KhMAg/viewform?embedded=true" width="100%" height="943" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
  </div>
</div>
