<% provide (:title, "Moderation Queue") %>

<h2>Moderation Queue</h2>

<div class="card">
  <div class="card-header blue darken-3 white-text">
    <h4 class="card-title">Pending Posts</h4>
  </div>
</div>

<!-- Announcements -->
