<% provide(:title, "My Stuff") %>
<div class="row">
  <div class="col-md-9">
    <div class="card">
      <div class="card-header blue darken-3 white-text">
        <%= content_tag(:a, "My Schedule", href: '#', class: "text-white") %>
      </div>
      <div class="card-body skinny-top">
        Hi
      </div>
    </div>
    <!--My clubs-->
    <!--My Events-->
    <!--My Announcements-->
    <!--My reports-->
  </div>
  <div class="col-md-3">

  </div>
</div>
