// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.blog-pg > p {
  text-indent: 5%;
}

.blog-header-button {
  font-size: 14px !important;
  padding-top: 7px !important;
  padding-bottom: 5px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
