
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* User role colors */
.admin-rank {
  color: #ff3333;
  &:hover {
    color: #ff3333;
  }
}

main.container {
  padding-top: 15px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.alert {
  display:inline-block;
  margin-top: 15px;
}


/* for footer stuff */

html {
  position: relative;
  min-height: 100%;
  padding-bottom: 0;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  p {
    margin-bottom: 0;
  }
}

/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  color: red;
  .form-control {
    @extend .is-invalid;
  }
  
}

h5, h6 {
  margin-bottom: 0px;
}

.card {
  margin-bottom: 15px;
}

.no-padding {
  padding-top: 13px;
  padding-bottom: 5px;
}

.no-link-padding > a {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -4px;
  margin-bottom: 0px;
}

.see-more-section {
  padding-top: 10px;
  padding-bottom: 10px;
}