// Place all the styles related to the PLC controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.plc-table {
  display: table;
  table-layout: fixed;
  //border: 2px solid black;
}

.plc-cell {
  display: table-cell;
  width: 2%;
  height: 4em;
}

.timeslot {
  padding-left: 10px;
  border-left: 2px solid #bbb;
}

.plc-header {
  height: 1em;
  text-align: center;
  color: black;
}

.narrow {
  width: 0.5%;
  text-align: center;
}

.odd {
  background-color: #eee;
}

.last {
  //border-bottom: 2px solid black;
}

.plc-list-item {
  padding: 12px;
  border-bottom: 1px solid rgba(0,0,0,0.125);
}

.plc-subject {
  font-size: 10pt;
  padding-top: 7px;
  padding-bottom: 7px;
}

.plc-list {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 487px;
}

.plc-list::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.plc-list::-webkit-scrollbar-thumb {
  background-color: #33b5e5;
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent);
}


.highlighted {
  background-color: yellow;
}

.selected {
  background-color: #007bff;
  color: white;

}

.selected:hover {
  background-color: #007bff;
  color: white;
}
