<%= form_with url: update_filter_url do |f| %>
  <div class="form-group">
    <label>See posts for these classes:</label>
    <% ClassYear.all.each do |c| %>
      <div class="form-check">
        <%= check_box_tag 'class_year_ids[]', c.id, get_class_year_ids.include?(c.id.to_s), 
          class: "form-check-input"%>
        <%= f.label c.id, class: "form-check-label" %>
      </div>
    <% end %>
  </div>

  <%= f.submit "Update", class: "btn btn-primary" %>

<% end %>
