<footer class="footer">
  <div class="container">
    <p class="float-right">
      <%= link_to "Sign Up", href="/signup" %> | <a href="#">Back to top</a>

    </p>
    <%= link_to "About Us", href="/contact" %>
  </div>
</footer>



