<footer class="footer">
  <div class="container">
    <p class="float-right">
    <a href="#">Back to top</a> 

    </p>
    <%= link_to "About Us", href="/contact" %> |
    <%= link_to "Blog", href="/blog" %>
    <% if logged_in? %>
      | <%= link_to "Staff", href="/staff" %>
    <% end %> 
  </div>
</footer>
