<footer class="footer">
  <div class="container">
    <p class="float-right">
      <% unless logged_in? %>
        <%= link_to "Sign Up", href="/signup" %> 
     | <% end %><a href="#">Back to top</a>
      
    </p>
    <%= link_to "About Us", href="/contact" %>
  </div>
</footer>



